Repository fugue-project/fugue, pull requests merged in 2021-01, with the labels that each got.

#142 Change the dag.df determinism behavior
  fugue/extensions/_builtins/__init__.py
  fugue/extensions/_builtins/creators.py
  fugue/workflow/_tasks.py
  fugue/workflow/workflow.py
  fugue_sql/_visitors.py
  tests/fugue/workflow/test_workflow_determinism.py
  tests/fugue_spark/test_execution_engine.py
  tests/fugue_sql/test_workflow_parse.py
Labels: Fugue SQL, behavior change, bug, core feature, enhancement, high priority, programming interface

#150 make_execution_engine
  README.md
  docs/api/fugue.execution.rst
  docs/api/fugue.workflow.rst
  fugue/__init__.py
  fugue/execution/__init__.py
  fugue/execution/execution_engine.py
  fugue/execution/factory.py
  fugue/execution/native_execution_engine.py
  fugue/workflow/__init__.py
  fugue/workflow/_tasks.py
  fugue/workflow/_workflow_context.py
  fugue/workflow/utils.py
  fugue/workflow/workflow.py
  fugue_dask/__init__.py
  fugue_dask/execution_engine.py
  fugue_spark/__init__.py
  fugue_spark/execution_engine.py
  fugue_sql/__init__.py
  fugue_sql/_utils.py
  fugue_sql/_visitors.py
  fugue_sql/exceptions.py
  fugue_sql/workflow.py
  fugue_test/builtin_suite.py
  setup.cfg
  setup.py
  tests/fugue/execution/test_execution_engine.py
  tests/fugue/execution/test_factory.py
  tests/fugue/workflow/test_workflow.py
  tests/fugue_dask/test_sql.py
  tests/fugue_spark/test_sql.py
  tests/fugue_sql/test_workflow.py
Labels: enhancement, fugueless

#156 Fugue notebook extension
  .github/workflows/testnotebook.yml
  Makefile
  fugue_notebook/__init__.py
  fugue_notebook/env.py
  fugue_notebook/nbextension/README.md
  fugue_notebook/nbextension/__init__.py
  fugue_notebook/nbextension/description.yaml
  fugue_notebook/nbextension/main.js
  setup.py
  tests/fugue_notebook/__init__.py
  tests/fugue_notebook/test_notebook.ipynb
Labels: Fugue SQL, core feature, enhancement, fugueless, high priority, notebook

#167 Fixing spark take errors
  fugue_spark/execution_engine.py
  fugue_test/builtin_suite.py
Labels: bug, high priority, programming interface, spark

#165 upgrade pandas udf
  docs/api/fugue.dataframe.rst
  fugue/__init__.py
  fugue/_utils/interfaceless.py
  fugue/dataframe/__init__.py
  fugue/dataframe/dataframe.py
  fugue/dataframe/dataframe_iterable_dataframe.py
  fugue/extensions/outputter/convert.py
  fugue/extensions/processor/convert.py
  fugue/extensions/transformer/convert.py
  fugue_spark/execution_engine.py
  fugue_test/builtin_suite.py
  fugue_test/dataframe_suite.py
  tests/fugue/dataframe/test_dataframe_iterable_dataframe.py
  tests/fugue/dataframe/test_iterable_dataframe.py
  tests/fugue/extensions/transformer/test_convert_transformer.py
  tests/fugue/utils/test_interfaceless.py
  tests/fugue_spark/test_execution_engine.py
Labels: spark
